<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 
      {% block title %} 
      Django App 
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body>
    <nav class = "nav-bar">
      <a href="/">Home</a> | 
      <a href="/about">About</a> |
      <a href="{% url 'posts:list'%}">Posts</a> | 
      {% if user.is_authenticated %}
        <a href="{% url 'posts:new-post' %}">New Post</a> | 
        <form action="{% url 'users:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class = "form-submit">Log Out</button>
        </form>
      {% else %}
        <a href="{% url 'users:register' %}">Register</a> | 
        <a href="{% url 'users:login' %}">Login</a> | 
      {% endif %}
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
